<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left">Back to Dashboard</i>
    </a>

  </div>
  <div class="col-md-6"></div>
</div>
<div class="card">
  <div class="card-header">
    Add new employee
  </div>
  <div class="card-body">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          [ngClass]="{'is-invalid':clientFirstName.errors?.required && clientFirstName.touched || clientFirstName.errors?.minlength}"
          class="form-control"
          [(ngModel)]="client.firstName"
          name="firstName"
          #clientFirstName="ngModel"
          minlength="2"
          required
          >
        <div *ngIf="clientFirstName.errors?.required && clientFirstName.touched" class="invalid-feedback">First name is required</div>
        <div *ngIf="clientFirstName.errors?.minlength && clientFirstName.touched" class="invalid-feedback">Must be at least 2 characters</div>
      </div>

      <div class="form-group">
          <label for="lasttName">Last Name</label>
          <input
            type="text"
            [ngClass]="{'is-invalid':clientLastName.errors?.required && clientLastName.touched || clientLastName.errors?.minlength}"
            class="form-control"
            [(ngModel)]="client.lastName"
            name="lastName"
            #clientLastName="ngModel"
            minlength="2"
            required
            >
          <div *ngIf="clientLastName.errors?.required && clientLastName.touched" class="invalid-feedback">Last name is required</div>
          <div *ngIf="clientLastName.errors?.minlength && clientLastName.touched" class="invalid-feedback">Must be at least 2 characters</div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              [ngClass]="{'is-invalid':clientEmail.errors?.required && clientEmail.touched || clientEmail.errors?.pattern}"
              class="form-control"
              [(ngModel)]="client.email"
              name="email"
              #clientEmail="ngModel"
              required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              >
            <div *ngIf="clientEmail.errors?.required && clientEmail.touched" class="invalid-feedback">Email is required</div>
            <div *ngIf="clientEmail.errors?.pattern && clientEmail.touched" class="invalid-feedback">Email is invalid</div>
          </div>

          <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="text"
                [ngClass]="{'is-invalid':clientPhone.errors?.required && clientPhone.touched || clientPhone.errors?.minlength}"
                class="form-control"
                [(ngModel)]="client.phone"
                name="phone"
                #clientPhone="ngModel"
                required
                minlength="10"
                >
              <div *ngIf="clientPhone.errors?.required && clientPhone.touched" class="invalid-feedback">Phone number is required</div>
              <div *ngIf="clientPhone.errors?.minlength && clientPhone.touched" class="invalid-feedback">Phone number should be 10 characters</div>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="client.role"
                  name="role"
                  #clientRole="ngModel"
                  >
              </div>
              <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>
