<div class="row">
  <div class="col-md-6">
    <h2>
      <i class="fa fa-users"></i> Employees </h2>
  </div>
<!--   
  <div class="col-md-6">
    <h5 class="text-right text-secondary"> Total Owed: {{totalOwed | currency:"USD":true}}</h5>
  </div> 
-->
</div>
<table *ngIf="clients?.length > 0; else noEmployees" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.firstName}} {{client.lastName}}</td>
      <td>{{client.email}}</td>
      <td>
        <a routerLink="/employee/{{client.id}}" class="btn btn-secondary btn-sm">
          <i class="fa fa-arrow-circle-o-right"> Details</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<ng-template #noEmployees>
  <hr>
  <h5>There are no Employees in the system.</h5>
</ng-template>