<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left">Back to Dashboard</i>
    </a>

  </div>
  <div class="col-md-6">
    <div class="btn-group pull-right">
      <a routerLink="/employee/edit/{{id}}" class="btn btn-dark">Edit</a>
      <button class="btn btn-danger" (click)="onDeleteClick()">Delete</button>
    </div>
  </div>
</div>
<hr>
<div class="card" *ngIf="client">
  <h3 class="card-header">{{client.firstName}} {{client.lastName}}</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8"><h4>Client ID: {{id}}</h4></div>
      <!-- <div class="col-md-4"><h3 class="pull-right">Balance</h3></div> -->
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item">Contact Email: {{client.email}}</li>
      <li class="list-group-item">Contact Phone: {{client.phone}}</li>
      <li class="list-group-item">Role: {{client.role}}</li>
    </ul>
  </div>
</div>