<div class="row">
  <div class="col-md-6">
    <a href="#" routerLink="/employee/{{id}}" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left">Back to Employee Details</i>
    </a>

  </div>
  <div class="col-md-6"></div>
</div>
<div class="card">
  <div class="card-header">
    Edit employee
  </div>
  <div class="card-body">
    <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          [ngClass]="{'is-invalid':employeeFirstName.errors?.required && employeeFirstName.touched || employeeFirstName.errors?.minlength}"
          class="form-control"
          [(ngModel)]="employee.firstName"
          name="firstName"
          #employeeFirstName="ngModel"
          minlength="2"
          required
          >
        <div *ngIf="employeeFirstName.errors?.required && employeeFirstName.touched" class="invalid-feedback">First name is required</div>
        <div *ngIf="employeeFirstName.errors?.minlength && employeeFirstName.touched" class="invalid-feedback">Must be at least 2 characters</div>
      </div>

      <div class="form-group">
          <label for="lasttName">Last Name</label>
          <input
            type="text"
            [ngClass]="{'is-invalid':employeeLastName.errors?.required && employeeLastName.touched || employeeLastName.errors?.minlength}"
            class="form-control"
            [(ngModel)]="employee.lastName"
            name="lastName"
            #employeeLastName="ngModel"
            minlength="2"
            required
            >
          <div *ngIf="employeeLastName.errors?.required && employeeLastName.touched" class="invalid-feedback">Last name is required</div>
          <div *ngIf="employeeLastName.errors?.minlength && employeeLastName.touched" class="invalid-feedback">Must be at least 2 characters</div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              [ngClass]="{'is-invalid':employeeEmail.errors?.required && employeeEmail.touched || employeeEmail.errors?.pattern}"
              class="form-control"
              [(ngModel)]="employee.email"
              name="email"
              #employeeEmail="ngModel"
              required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              >
            <div *ngIf="employeeEmail.errors?.required && employeeEmail.touched" class="invalid-feedback">Email is required</div>
            <div *ngIf="employeeEmail.errors?.pattern && employeeEmail.touched" class="invalid-feedback">Email is invalid</div>
          </div>

          <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="text"
                [ngClass]="{'is-invalid':employeePhone.errors?.required && employeePhone.touched || employeePhone.errors?.minlength}"
                class="form-control"
                [(ngModel)]="employee.phone"
                name="phone"
                #employeePhone="ngModel"
                required
                minlength="10"
                >
              <div *ngIf="employeePhone.errors?.required && employeePhone.touched" class="invalid-feedback">Phone number is required</div>
              <div *ngIf="employeePhone.errors?.minlength && employeePhone.touched" class="invalid-feedback">Phone number should be 10 characters</div>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="employee.role"
                  name="role"
                  #employeeRole="ngModel"
                  >
              </div>
              <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>
