<h1>Admin work</h1>

<div class="card">
  <h3 class="card-header">Admin</h3>
  <div class="card-body">
    <div class="row">
      <div class="col-md-8"><h4>Dog Name</h4></div>
      <!-- <div class="col-md-4"><h3 class="pull-right">Balance</h3></div> -->
    </div>
    <hr>
    <ul class="list-group">
      <li class="list-group-item"><img [src]='dog01' alt="dog01" height="100" width="100">dog01</li>
      <li class="list-group-item"><img [src]='dog02' alt="dog02" height="100" width="100">dog02</li>
      <li class="list-group-item"><img [src]='dog03' alt="dog03" height="100" width="100">dog03</li>
      <li class="list-group-item"><img [src]='dog04' alt="dog04" height="100" width="100">dog04</li>
      <li class="list-group-item"><img [src]='dog05' alt="dog05" height="100" width="100">dog05</li>
    </ul>
  </div>
</div>
