<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="#">Employee Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/"> Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <!-- ml-auto will move it to the right, although it is margin left -->
<!--
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/register"> Register </a>
      </li>
       -->
      <!-- ml-auto will move it to the right, although it is margin left -->
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/register"> Register </a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/login"> Login </a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" >{{loggedInUser}}</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/work"> Work </a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/admin"> Admin </a>
      </li>
      <!--
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" routerLink="/settings"> Settings </a>
      </li>
 -->
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link" href="#" (click)="onLogoutClick()"> Logout </a>
      </li>
    </ul>
  </div>
</nav>
<br>
