/* .navbar-toggler>.close {
    display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)> .navbar-toggler-icon {
    display:none;
} */
.navbar-toggler {
    background-color: blue;
    /* display: inline; */
  }
